<div class="container">
  <div class="row">
      <div class="col-md-8">
          <section>
              {{ .Content }}
            </section>
            <section>            
            <div id="gallery">
                  <ul id="gal_nav">
                    <li><a href="#pic1"><img alt="" src="/img/gallery/1-small.jpg" /></a></li>
                    <li><a href="#pic2"><img alt="" src="/img/gallery/1-small.jpg" /></a></li>
                   <li><a href="#pic3"><img alt="" src="/img/gallery/1-small.jpg" /></a></li>
                  <li><a href="#pic4"><img alt="" src="/img/gallery/1-small.jpg" /></a></li>
                  <li><a href="#pic5"><img alt="" src="/img/gallery/1-small.jpg" /></a></li>
                 </ul>
                <div id="full-picture">
    <div><a name="pic1"></a><img alt="" src="/img/gallery/1-large.jpg" /></div>
    <div><a name="pic2"></a><img alt="" src="/img/gallery/1-large.jpg" /></div>
    <div><a name="pic3"></a><img alt="" src="/img/gallery/1-large.jpg" /></div>
    <div><a name="pic4"></a><img alt="" src="/img/gallery/1-large.jpg" /></div>
    <div><a name="pic5"></a><img alt="" src="/img/gallery/1-large.jpg" /></div>
  </div>
</div>
</section>
</div>
</div>
