<div class="container">
  <div class="row">
    <div class="col-md-8">
      <section>

        {{ .Content }}
        <div id="g-p">


       <div class="tabs">
          <div class="tab">
            <input type="radio" id="tab-1" name="tab-group-1" checked>
            <label for="tab-1">Tab One</label>
            <div class="text">
              Sample text.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="tab-2" name="tab-group-1" checked>
            <label for="tab-2">Tab Two</label>
            <div class="text">
              Sample text two.
            </div>
          </div>
          <div class="tabs">
            <div class="tab">
              <input type="radio" id="tab-3" name="tab-group-1" checked>
              <label for="tab-3">Tab Three</label>
              <div class="text">
                Sample text three.
              </div>
            </div>
            <div class="tab">
              <input type="radio" id="tab-4" name="tab-group-1" checked>
              <label for="tab-4">Tab Four</label>
              <div class="text">
                Sample text four.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
