<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="/js/galleria-min.js"></script>
<div id="galleria">
  <img src="img/gallery/1-large.jpg" data-title="My title" data-description="My description"/>
  <img src="img//gallery/2017-06-20_14.46.39.png" data-title="My title" data-description="My description"/>
  <img src="img/gallery/aq3dcyue.jpg" data-title="My title" data-description="My description"/>
  <img src-"img/gallery/Warframe0008.jpg" data-title="My title" data-description="My description"/>
</div>
<script type="text/javascript">
  (function() {
      Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
      Galleria.run('.galleria');
    }());
</script>
<style>#galleria{height:520px;}</style>
