<div id="guildwars"></div>
<script type="text/javascript">
var guildID = '24F858D3-7586-E611-80DA-101F7433AF15';
var APIkey = '2B90754A-EF40-264D-B46B-8E3D41718475722A1DA0-DD9A-49FD-943B-82DA058C1424';

var $url = 'https://api.guildwars2.com/v2/guild/' + guildID + '/members.json?access_token=' + APIkey;
$.getJSON($url, function(data) {
$('#guildwars').html('<table><tbody></tbody><thead><tr><th>Rank</th><th>Player</th><th>Joined</th></tr></thead></table>');
$.each(data, function(i, member) {
var $mem = member;
$('#guildwars table tbody').append('<tr><td>' + $mem.rank + '</td><td>' + $mem.name + '</td><td>' + new Date($mem.joined) + '</td></tr>');
});
});
</script>
